<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="protocol" value="http"/>
    <add key="server" value="192.168.1.16"/>
    <add key="port" value="8080"/>
    <add key="path" value="SS_Monitor_Webservice"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
