<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="protocol" value="http"/>
    <add key="server" value="test.appedo.com"/>
    <add key="port" value="8080"/>
    <add key="path" value="appedo_collector"/>
    <add key="type" value="MSSQL"/>
    <add key="guid" value="8c50cd77-d95a-4be6-b4f2-30028608fc4a"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>