<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="User ID=root;Password=sa;Host=localhost;Database=loadtestengine;" />
    <add key="SQLiteConnectionString" value="Data Source=.\\Loadtestengine.db;Version=3;New=True;Compress=True;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CertificateFile" value="\Appedo.pfx" />
    <add key="RecordingIPAddress" value="localhost" />
    <add key="RecordingPort" value="8010" />
    <add key="RecordConncetion" value="6" />
    <add key="RequstTimeout" value="180000" />
    <add key="users" value="pS2WVlNxHLGAhj6Clojf9Q=="/>
    <add key="uploadip" value="192.168.1.160"/>
    <add key="uploadport" value="8886"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
      <socket alwaysUseCompletionPortsForAccept="true" alwaysUseCompletionPortsForConnect="true" />
    </settings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>