/* Updated By	: Hariselvan.N
   Updated On	: 21-03-2012
   Purpose		: New Captcha Image integrated and all page styles changed
   CR No		: CR000374 - New Captcha Image Integration in UserRegistration, ForgotPassword and ChangePassword Pages and Stylesheet updation
*/

/* Login Page Style */


/* Body*/

body { margin-left:0;
margin-right:0;
margin-bottom:0;
margin-top:0;
}

.brown_bg {
background-color:#7e0306;
}

.contentarea_bg {
background-color:#ffffff;
}

/* text */

.hdtxt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 16pt;
font-weight: normal;
color: #aa271f;
font-weight:bold;
text-decoration: none;
}

.hdtxt1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 13pt;
font-weight: normal;
color: #aa271f;
font-weight:bold;
text-decoration: none;
}

.hdtxt2{ font-family:Trebuchet MS, verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: normal;
color: #aa271f;
font-weight:bold;
text-decoration: none;
}

.green_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #184900;
font-weight:bold;
text-decoration: none;
}

.red_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: red;
font-weight:bold;
text-decoration: none;
}
.Green_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: green;
font-weight:bold;
text-decoration: none;
}
.grey_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #c6c6c6;
font-weight:bold;
text-decoration: none;
}

.pageTitle {
	font-size: 11pt;
	color: #981b1e;
	font-weight: bold;
	line-height: normal;
	background-image:  none;
	background-repeat: no-repeat;
	text-indent: 0px;
	font-family: "Trebuchet MS";
	color: #990000;
	font-weight: bold;
}

.txt_wht{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ffffff;
text-decoration: none;
}

.txt_whtbld{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ffffff;
font-weight:bold;
text-decoration: none;
}

.txt {
	font-size: 8pt;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}
.Banktxt {
	font-size: 8pt;
	color:black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

.txtred {
	font-size: 8pt;
	color: Red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

.txtBold
{
	font-size: 8pt;
	font-weight:bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

.txt_blk{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
text-decoration: none;}

.con_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #FC8F05;
text-align:justify;
text-decoration: none;}

.navi_txt1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #fc8f05;
text-decoration: none;}

.navi_txt3{ font-family:Verdana, Arial;
font-size: 8px;
font-weight:600;
color: #ffffff;
text-decoration: none;}

.navi_txt2{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #7e0306;
text-decoration: none;}

.navi_txtbld{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #fc8f05; font-weight:bold; text-decoration: none; }
.navi_txtbld:link{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #fc8f05; font-weight:bold; text-decoration: none; }
.navi_txtbld:visited{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #fc8f05; font-weight:bold; text-decoration: none; }
.navi_txtbld:active{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #fc8f05; font-weight:bold; text-decoration: none; }
.navi_txtbld:hover{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #ffffff; font-weight:bold; text-decoration: none; }

.navi_whtbld{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #ffffff;
font-weight:bold;
text-decoration: none;
}

.txt_bld{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
font-weight:normal;
height: 28px;
text-decoration: none;
}

.m_txtbd{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #aa271f;
text-decoration: none;}

.tdrow1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #aa271f;
background-color:#ffffff;
text-indent: 5px;
height: 26px;
text-decoration: none;}

.tdrow2{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #aa271f;
background-color:#f4f4f4;
text-indent: 5px;
height: 26px;
text-decoration: none;}

/* textbox */

.textbox{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #aa271f;
height: 14px;
width:130px;
background-color: #ffffff;
border: 1px solid #ff9406;}

.txtBoxlong {

	font-size: 8pt;
	color: #000000;
	background-color: #F1F1F1;
	width: 100%;
	border: 1px solid #C7C7C7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 2px;
	text-align :justify ;
}

.textbox1 {font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #2E2E2E;
height: 17px;
width:200px;
background-color: #ffffff;
border: 1px solid #CCCCCC;}

.textbox2 {font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #aa271f;
height: 17px;
width:250px;
background-color: #ffffff;
border: 1px solid #aa271f;}


.grid_textbox{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #aa271f;
height: 18px;
width:130px;
background-color: #ffffff;
border: 1px solid #aa271f;}

.grid_textbox_sm{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
color: #aa271f;
height: 18px;
width:40px;
background-color: #ffffff;
border: 1px solid #aa271f;}

/* Button */

.but
{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color: #ffffff;
font-weight:bold;
height: 25px;
width:80px;
text-align:center;
border:0px;
background-image:url(../images/but_bg.jpg);
cursor: hand;
}
.lnk
{
background-color: #ffffff;
cursor: hand;
}
.txtError
{
	font-size: 8pt;
	font-weight:normal;
	color: red;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 15px;
}

.gridHeader
{
    background-image:url(../images/navi_bg.jpg);
}

.m_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #aa271f;
text-decoration: none;}

/* Footer */

.ft_txt{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #fc8f05;
text-decoration: none;}


/*Added by Ramalakshmi*/


.m_txtbd_1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #fc8f05;
text-decoration: none;}

.navi_txt2_1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
color: #fc8f05;
text-decoration: none;}

.hdtxt1_1{ font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
font-weight: normal;
color: #ffffff;
font-weight:bold;
text-decoration: none;
}