body
{
    font-family: Tahoma;
    background: #3B69AD;
    background: #4A7FC3 url("../../html/images/header.gif") repeat-x scroll 0 0;
}
.header
{
    font-size: 11px;
    height: 40px;
}
#hd
{
    margin-bottom: 10px;
}
#ft
{
    background: #f4f4f4;
    text-align: center;
    font-size: 11px;
    border-top: 1px solid #ddd;
    padding: 3px;
}
#bd
{
    border: 1px solid #ddd;
}
#reportpage
{
    min-height: 530px;
    background: #fff;
}
.yui-skin-sam .yui-navset .yui-nav .selected a, .yui-skin-sam .yui-navset .yui-nav .selected a:focus, .yui-skin-sam .yui-navset .yui-nav .selected a:hover
{
    background: url("../../html/images/bg_nav1.gif") repeat-x scroll 0 0 #222222;
    color: #FFFFFF;
}
.yui-skin-sam .yui-navset .yui-nav .selected a em
{
    font-weight: bold;
}
.yui-skin-sam .yui-navset .yui-nav, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav
{
    border-color: #000000;
    border-width: 0 0 1px;
}
.yui-skin-sam .yuimenubar
{
    background: url("../../html/images/bg_nav1.gif") repeat-x scroll 0 0 transparent;
    border: 0 none;
}
.yui-skin-sam .yuimenubarnav
{
    padding: 5px;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel
{
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 11px;
}
.yui-skin-sam .yuimenubaritem-selected .yuimenubaritemlabel
{
    color: #000000;
}
.yui-skin-sam .yuimenubarnav .yuimenubaritem
{
    border-right: 0 solid #000000;
    font-size: 11px;
}
.hdrlist
{
    margin: 0;
    background: #FFF;
    border: 1px solid #ddd;
    padding: 3px;
}
.hdrlist li
{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
}
.hdrlist li a
{
    text-decoration: none;
}
.hdrlist li label
{
    font-weight: bold;
    width: 70px;
    display: inline-block;
    color: #4A7FC3;
}
.hmcont
{
    border: 1px solid #ddd;
    margin: 5px;
    margin-right: 20px;
    width: 160px;
    height: 120px;
    padding-top: 30px;
    background: #efefef;
}
.hmcont a
{
    text-decoration: none;
    font-weight: bold;
    color: Blue;
}
.hmcont span
{
    text-decoration: none;
    font-weight: bold;
    color: GrayText;
}
.hmdiv
{
    margin-top: 20px;
}
#Main_products
{
    text-align: left;
}
.pagetitle
{
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-family: tahoma;
    font-weight: bold;
    color: #A4003F;
    display: block;
    padding: 2px;
    line-height: 25px;
}
.pagetitle h2
{
    font-size: 140%;
}
.pagecontent
{
    background: #fff;
    min-height: 700px;
}
.pagetable
{
    width: 100%;
    border-collapse: collapse;
}
.pagetable td
{
    vertical-align: top;
    padding-right: 10px;
}
.pagetbltd
{
    width: 50%;
}
.report
{
    margin-left: 10px;
    margin-bottom: 30px;
}
.reporthd
{
    color: #294087;
    line-height: 20px;
    font-weight: bold;
}
.reportbd
{
    clear: both;
}
.cleft
{
    float: left;
    line-height: 20px;
    width: 80%;
}
.cright
{
    float: right;
}
.reportact
{
    cursor: pointer;
}

.navlist
{
    cursor: pointer;
}
.navlist:hover
{
    background-color: #FFF0C5;
    cursor: pointer;
}

.frmnote
{
    font-size: 11px;
    border: 1px solid #ccc;
    height: 20px;
    line-height: 18px;
    background: #FFF0C5;
    padding: 2px;
    padding-left: 10px;
}
.frmnote ul
{
    padding: 0;
    margin: 0;
}
.frmnote li
{
    float: left;
    margin-right: 15px;
}
.frmnote li.start
{
    margin-left: 15px;
}
.tblcont
{
    border: 1px solid #7F7F7F;
}
.frm
{
    margin: 0 auto;
    padding: 5px;
}
.addrow
{
    color: #444;
    font-weight: bold;
    text-align: left;
    background: #efefef;
    border: 1px solid #cbcbcb;
    padding-left: 10px;
    width: 150px;
}
.datatable
{
    font-size: 11px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    text-align: left;
}
.datatable th
{
    color: #444;
    font-weight: bold;
    text-align: left;
    background: #efefef;
    border: 1px solid #cbcbcb;
    padding-left: 10px;
    width: 150px;
}
.datatable td
{
    padding: 1px;
    color: #444;
    text-align: left;
    border-bottom: 0px solid #dfdfdf;
}
.datatable td.label
{
    text-align: left;
    font-weight: normal;
    width: 18%;
    vertical-align: middle;
    color: #000;
}
.datatable tr.even
{
    background: #fff;
}
.datatable tr.odd
{
    background: #f4f4f4;
}
.datatable td input[type='text'], td input[type='password']
{
    font-family: tahoma;
    font-size: 11px;
    padding: 2px;
    width: 200px;
    border: 1px solid #ddd;
    line-height: 18px;
    height: 18px;
}
.datatable td select
{
    font-family: tahoma;
    font-size: 11px;
    padding: 2px;
    width: 200px;
}
.datatable td input[type='checkbox']
{
    padding-right: 3px;
}
.submitButton
{
    text-align: center !important;
    padding-top: 30px !important;
    border: 0 !important;
}
/*input.btncls{width:150px;font-weight:bold;height:25px;line-height:20px;font-size:12px;border:1px solid #444;background:#4A7FC3;color:#FFF;}*/
.btncls, .btncls:visited, .btn, .btn:visited
{
    font-size: 12px;
    display: inline-block;
    background: #0061AE;
    border: 1px solid #000;
    padding: 3px 10px;
    text-align: center;
    font-weight: bold;
    color: #FFF;
    text-decoration: none; /*width:150px;             height:25px;             line-height:20px;*/
}
.btncls:hover, .btn:hover
{
    border-color: #444;
    text-decoration: none;
}
.tblsrch
{
    border: 1px solid #888;
    background: #efefef;
    margin: 5px;
    padding: 5px;
}
.datatblsrch th
{
    background: none;
    width: auto;
    border: 0;
}
.datatblsrch td input
{
    border: 1px solid #888 !important;
}
.error
{
    font-weight: bold;
    color: Red;
}
.chkBoxLst td input[type='checkbox'], input[type='radio']
{
    padding-right: 5px;
}
.chkBoxLst td
{
    padding-right: 10px;
}

.yui-skin-sam .yui-panel .bd
{
    font-family: Tahoma;
}
.yui-skin-sam .yui-editor-container
{
    border: 0;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-subcont
{
    border-bottom: 0;
    padding: 0 0 0.35em;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-titlebar
{
    display: none;
}
.yui-skin-sam .yui-toolbar-container
{
    font-family: Tahoma;
}
.yui-editor-container .yui-editor-editable-container
{
    border: 1px solid #ddd;
}
#dialogForm input
{
    width: 100%;
    font-size: 11px;
    font-family: Tahoma;
    padding: 1px;
    height: 20px;
    line-height: 18px;
    border: 1px solid #ddd;
}
#dialogForm .label
{
    width: 50px;
    font-size: 11px;
    font-family: Tahoma;
    padding: 2px;
    line-height: 20px;
}
.denied
{
}

.GridViewStyle
{
    font-family: tahoma,Arial, Sans-Serif;
    font-size: 11px;
    table-layout: auto;
    border-collapse: collapse;
    border: f4f4f4 1px solid;
    width: 100%;
}
/*Header and Pager styles*/
.HeaderStyle, .PagerStyle /*Common Styles*/
{
    background: url("../../html/images/shade.gif") repeat-x scroll left bottom #D4D4D4;
    border: 1px solid #DDDDDD;
}
.HeaderStyle th
{
    font-weight: bold;
    line-height: 20px;
    padding: 5px;
    color: #000;
    white-space: nowrap;
}
.HeaderStyle a
{
    text-decoration: none;
    color: #000;
    display: block;
}
.PagerStyle table
{
    text-align: left;
}
.PagerStyle table td
{
    border: 0px;
    padding: 5px;
}
.PagerStyle td
{
    border-top: #91a7b4 1px solid;
}
.PagerStyle a
{
    color: #16387c;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
    border-top: solid 1px #fff;
    border-right: solid 1px #91a7b4;
    border-bottom: solid 1px #91a7b4;
    border-left: solid 1px #fff;
}
.PagerStyle span
{
    font-weight: bold;
    color: #16387c;
    text-decoration: none;
    padding: 2px 10px 2px 10px;
}
.GridContainer
{
    width: 960px;
    overflow: auto;
    padding-bottom: 15px;
}
.GridContainerRules
{
    width: 930px;
    overflow: auto;
}
.GridContainerPad
{
    width: 950px;
    overflow: auto;
}
/*RowStyles*/
.RowStyle td, .AltRowStyle td, .SelectedRowStyle td, .EditRowStyle td
{
    font-size: 11px;
    color: #444;
    padding: 5px;
    border: solid 1px #dddddd;
    white-space: nowrap;
}
.RowStyle td
{
    background-color: #FFFFFF;
}
.AltRowStyle td
{
    background-color: #f4f4f4;
}
.sortasc
{
    background: url("../../html/images/Icons/arrow_down_green.png") right center no-repeat;
}
.sortdesc
{
    background: url("../../html/images/Icons/arrow_up_green.png") right center no-repeat;
}

/*background-image: url(../html/images/YahooSprite.gif);

    background-position:0 -80px;
    background-repeat:repeat-x;*/
/*Pop up Box - Header and Pager styles*/
.HeaderStylePopup, .PagerStylePopup /*Common Styles*/
{
    background: url("../../html/images/shade.gif") repeat-x scroll left bottom #D4D4D4;
    border: 1px solid #DDDDDD;
}
.HeaderStylePopup th
{
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
    color: #000;
    white-space: nowrap;
}
.HeaderStylePopup a
{
    text-decoration: none;
    color: #000;
    display: block;
}
.RowStylePopup td, .AltRowStylePopup td, .SelectedRowStylePopup td, .EditRowStylePopup td
{
    font-size: 11px;
    color: #444;
    padding: 2px;
    border: solid 1px #dddddd;
    white-space: nowrap;
    text-align: left;
}
.RowStylePopup td
{
    background-color: #FFFFFF;
}
.AltRowStylePopup td
{
    background-color: #f4f4f4;
}

.SelectedRowStyle td
{
    background-color: #fcb814;
    background-image: url(../../html/Images/YahooSprite.gif);
    background-position: center;
    background-repeat: repeat-x;
}
.pdficon
{
    background: url(../../html/images/pdf.png) no-repeat left bottom;
    height: 21px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.xmlicon
{
    background: url(../../html/images/xml.png) no-repeat left bottom;
    height: 21px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.erroricon
{
    background: url(../../html/images/error.png) no-repeat left bottom;
    height: 21px;
    line-height: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.prew-item, .next-item
{
    background: url("../../html/images/shade.gif") repeat-x scroll left bottom #D4D4D4;
    border: 1px solid #DDDDDD;
}

/*ErrorMessage*/
.failureNotification
{
    color: Red;
}

.hideChkbox
{
    display: none;
}

/*Announcements Styling starts */
ul.bullet
{
    /*margin: 4px;*/
    text-align: left;
    padding-left: 15px;
    width: 350px;
}
/*ul.bullet li:before
{
    content: url(/html/images/gen_cyan_arrowR_bullet.gif);
    margin-top:-5px;
    padding-right:12px;
}*/
ul.bullet li
{
    /*line-height:3.333em;     max-height:50px;*/
    min-height: 30px;
    font-size: 12px;
    color: #333;
    padding: 0 10px 0; /*text-indent: 2em;*/
    list-style-position: outside; /*list-style-type:disc;*/
    list-style-image: url(/html/images/gen_cyan_arrowR_bullet.gif);
    word-wrap: break-word;
}
ul.bullet li:hover
{
    color: #4A7FC3;
    cursor: pointer;
}
ul.bullet span
{
    color: #DAE4F5;
}
.divSubCont
{
    line-height: 1.111em;
    min-height: 30px;
    max-height: 30px;
    white-space: normal;
    margin-top: -25px;
    margin-left: 10px;
}
.announcemntSec
{
    border: 1px solid #ddd;
    height: 350px;
    width: 350px;
}
.tblmainstyle
{
    width: 100%;
}
.tblmainstyle td
{
    width: 50%;
    padding: 0px 0px 0px 70px;
}
.tblAnncSecstyle
{
    height: 90%;
    width: 100px;
}

.tblAnncSecstyle td
{
    padding-left: 20px;
}
.divContainer
{
    display: none;
    min-height: 105px;
    max-height: 105px;
    max-width: 280px;
    border: 1px solid #ddd;
    margin-left: 10px;
    top: -150px;
    position: relative;
    line-height: 1.111em;
    padding: 3px 0px 3px 5px;
    background-color: #efefef;
}
.divContainer:after
{
    /*arrow added to downarrowdiv DIV*/
    content: '';
    display: block;
    position: absolute;
    top: 100%; /*should be set to 100% */
    left: 30px;
    width: 0;
    height: 0;
    border-color: #ddd transparent transparent transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 15px;
}
.anncmntSecStyle
{
    border: 1px solid #ffffa9;
    background: #ffffc9 no-repeat;
    width: 99.8%;
}
.marqueeStyle
{
    color: red;
    height: 20px;
    width: 900px;
    margin-left: 30px;
}
.divanncsecStyle
{
    padding-top: 4px;
}
.alrtimgStyle
{
    vertical-align: top;
    margin-top: -2px;
    margin-right: 3px;
}
.alrltrlStyle
{
    font-family: Arial;
    font-size: 11px;
    color: Red;
}
.divConttxtStyle
{
    margin-right: 190px;
    float: left;
}
.divContErrStyle
{
    width: 10px;
    float: right;
    margin-top: -230px;
    margin-right: 200px;
}
.lightText
{
    color: #BDBDBD;
}
/*Announcements Styling ends */

/*--------PAGINATION STARTS ------------*/
.GridFooter
{
    /*background-image: url('../../html/images/FooterBackground.gif');*/
    background: url("../../html/images/shade.gif") repeat-x scroll left bottom;
    color: Black;
}
.PagingContainer
{
    border: 1px solid #DDDDDD;
}
.PagingContainer, .PagingContainer input, .PagingContainer select
{
    font-family: Verdana;
    font-size: 8pt;
}
.PagingIcon, .PagingFirst, .PagingPrevious, .PagingNext, .PagingLast
{
    height: 16px;
    width: 16px;
    border-style: none;
    cursor: pointer;
}
.PagingFirst
{
    background-image: url('../../html/images/PagingFirst.png');
}
.PagingPrevious
{
    background-image: url('../../html/images/PagingPrevious.png');
}
.PagingNext
{
    background-image: url('../../html/images/PagingNext.png');
}
.PagingLast
{
    background-image: url('../../html/images/PagingLast.png');
}
.CurrentPage
{
    text-align: center;
}
.PagingNavigation td
{
    padding-left: 2px;
    padding-right: 2px;
}
.PagingRecords td
{
    padding-left: 2px;
    padding-right: 2px;
}
.PagingShowingRecord
{
    padding-left: 2px;
    padding-right: 2px;
}
/*--------PAGINATION ENDS------------*/

/*Images in Grid for approval,edit,delete etc*/
.icon-edit
{
    background: url('../../html/images/Icons/edit.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
}
.icon-view
{
    background: url('../../html/images/Icons/icon-view.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
    width: 16px;
}
.icon-approve
{
    background: url('../../html/images/Icons/ok.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
}
.icon-reuse
{
    background: url('../../html/images/Icons/ReUse.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
}
.icon-reject
{
    background: url('../../html/images/Icons/Delete.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
}
.icon-disable
{
    background: url('../../html/images/Icons/Reject.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
}
.icon-unlock
{
    background: url('../../html/images/Icons/Unlock.png') no-repeat center;
    text-indent: -9990px;
    display: block;
    height: 16px;
    width: 16px;
}
