html,body
{
	margin: 0;
	padding: 0;
	background: #e4e5e5 url(../_img/site_bg.jpg) fixed top left no-repeat;
	color: #2A2B30;	
	font-family: arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}


html.wf-loading {visibility: hidden;}

ul {margin: 0; padding: 0; list-style: none;}

h1
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	line-height: 48px;
	font-weight: normal;
	margin: 12px 0 20px 0;
	color: #4A4C55;
	letter-spacing: -1px;
	padding: 20px 0;
	border-bottom: 2px dotted #E8E8E8;	
}

h3 {
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.heading
{
	
}

.subheading
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	margin: 0 0 5px;
	color: #4A4C55;	
}

.document
{
	padding-left: 30px !important;
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.document_mov {background-image:url(../_img/document-film.png); }
.document_pdf {background-image:url(../_img/document-pdf.png); }




.button
{
	background: #fff;
	padding: 6px 14px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;	
	font-weight: normal;
}



.button .watch
{
	background: #fff url(../_img/icon_watch.png) 10px 40% no-repeat;
	padding-left: 44px;
}

.viewall
{
 
	background: #F9A730 url(../_img/icon_arrow-right.png) -5px 40% no-repeat;
	padding-left: 30px;
	color: #fff;
	margin: 2em 0;
	display: inline-block;
	padding: 6px 14px;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.25);
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;	
	font-weight: normal;
}

#logo
{
	width:220px;
	height: 180px;
	background: #f8a331 url(../_img/logo_std.jpg) center center no-repeat;
	position: fixed;
	left: 0;
	top: 20px;
	z-index: 150;
}

.page
{
	margin: 0;
	top:0;
	border-radius: 10px;
	z-index: 50;
}

.main_content_container 
{
 	background: #fff; /* SWITCH */
	position: relative;
	padding: 0 20px 20px;
	max-width: 890px;
	width:890px;
	margin: 20px 10px 20px 230px;
	float: left;
}


.blog_container 
{
 	background: #fff; /* SWITCH */
	position: relative;
	padding: 0 40px 30px;
	max-width: 890px;
	 width:auto;
	 height:auto;
	margin: 40px 0px 0px 230px;
	float: left;
}

.index_content_container
{
 	background: transparent;
	position: relative;
	padding: 0 20px 20px;
	max-width: 890px;
	margin: 20px 10px 20px 230px;
	float: left;
}

.index_content_container h1
{
    border-bottom: none;
	font-size: 115px;
	line-height: 93px;
	letter-spacing: -6px;
	padding: 98px 0 0;
}
/* As per changes request of 1.1.1 */
.index_content_container p
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	color: #4A4C55;	
	font-size: 30px;
	line-height: 33px;
	max-width: 820px; /*previous 660px*/
}

/* Navigation */

ul.nav,
ul.nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#main_nav {
	position: fixed;
	top:200px;
	left: 0;
	z-index: 100;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	width: 220px;
	text-align: right;
}

#main_nav > ul
{
	background-color: #E8E8E8;
}

#main_nav > ul > li
{
	padding: 9px;
	background-color: #fff;
	border-top: 2px dotted #E8E8E8;
}

#main_nav > ul > li.active
{
	background: #f8a331;
}
#main_nav > ul > li.active > a {color: #fff; }

#main_nav .selectbox {display:none;}
#main_nav > ul > li.active .selectbox {display:block;}

/* Menu logged in state */

body.logged-in #main_nav {
	font-size: 16px;
	line-height: 18px;
}

body.logged-in #main_nav > ul > li
{
	padding: 4px 9px;
}

/*-----------------------------------------------------*/
/* UTILITY NAV */
/*-----------------------------------------------------*/
#main_nav ul.utilitynav
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	/*top:495px; Commneted As per changes request of 1.1.1 */
	bottom: 20px; /*Added As per changes request of 1.1.1 */
	left: 0;
	background: none;
}

#main_nav ul.utilitynav li
{
	width: 202px;
	outline:none;
/* 	background: #fff url(../_img/search.png) 10px center no-repeat; */
	background-color: rgba(255,255,255,.25);
	border-color: rgba(255,255,255,.1);
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;
	text-align: left;
}

#main_nav ul.utilitynav li:first-child
{
	border-top: none;
}

#main_nav ul.utilitynav li a
{
	color: #000;
}
#main_nav ul.utilitynav li a:hover
{
	opacity: .25;
}
/*-----------------------------------------------------*/
/* UTILITY NAV LOGIN*/
/*-----------------------------------------------------*/
#main_nav ul.utilitynav_login
{
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	top:570px;
	left: 0;
	background: none;
}

#main_nav ul.utilitynav_login li
{
	width: 202px;
	outline:none;
/* 	background: #fff url(../_img/search.png) 10px center no-repeat; */
	background-color: rgba(255,255,255,.25);
	border-color: rgba(255,255,255,.1);
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;
	text-align: left;
}

#main_nav ul.utilitynav_login li:first-child
{
	border-top: none;
}

#main_nav ul.utilitynav_login li a
{
	color: #000;
}
#main_nav ul.utilitynav_login li a:hover
{
	opacity: .25;
}
/* Login */

.login_container { display:block; }
.loggedin_container {display: none;}


.login_container,
.loggedin_container
{
	padding: 0px 0px 0px 20px;
	background: transparent url(../_img/user.png) left center no-repeat;

/*
	padding: 10px 10px;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
/* 	color: #fff; */
}


.login_form
{
	color: #fff;	
	background: url(../_img/popover_bg.png) left bottom no-repeat transparent;
	position: absolute;
	width:200px;
	left:0px;
	padding: 10px 10px 20px;
	display: none;
	top:-135px;
	
	
}

.login_form label,
.login_form input
{
	display: block;
	width:100%;
}

.login_form input
{
	font-size:12px;
	font-family: Helvetica;
	width:194px;
}

.login_form button
{
	margin: 5px 0 0;
}

.login_form a
{
	float: right;
	font-size:12px;
	font-family: Helvetica;
	text-transform: none;	
	margin: 5px 0 0;
	color:White;
}

/*-----------------------------------------------------*/
/* SEARCH */
/*-----------------------------------------------------*/
.search_container
{
}

.search_container input {
	border: none;
	background: url("../_img/search.png") no-repeat scroll left center transparent;
	color: #000;
	padding: 0px 0px 0px 20px;
	margin: 0;
	height: 30px;	
	width: 180px;
	outline:none;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
/*
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
	transition: background-color .5s;	
*/

}

.search_container input:focus,
.search_container input:hover
{
/* 	background-color: #fff; */
}

::-webkit-input-placeholder 
{
	color: #000;
}
::-moz-placeholder 
{
	color: #000;
}

.search-result-block
{
	margin-top: 30px;
}
.search-result-block:first-child
{
	margin-top: 0;
}

.search-result-block h2
{
	font-size: 26px;
	line-height: 32px;
}


/*-----------------------------------------------------*/
/* SELECT BOX */
/*-----------------------------------------------------*/

.selectbox
{
	position: relative;
}

.selectbox > a
{
	display: block;
	font-size: 16px;
	line-height: 20px;
	padding: 5px 10px;
	margin: 3px 0 0 0;
	text-align: left;	
	background: #fff url(../_img/select_arrow_bg.png) right center no-repeat;
	color: #f8a331;
	border-radius: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25);	
}

.selectbox ul
{
	display: none;
	background: #2A2B30;
	position: absolute;
	top: 5px;
	left: 5px;
	box-shadow: 3px 3px 0 rgba(0,0,0,.2);
}

.selectbox.open ul
{
	display: block;
	z-index: 999;
}

.selectbox ul li
{
	font-size: 16px;
	line-height: 20px;
	padding: 5px 10px;
	position: relative;
	text-align: left;
	border-top: 2px dotted #4A4C55;
}
.selectbox ul li:first-child {border-top: none;}



a {
	color: #878C8D;
}

.nav a,
#main_nav a
{
	color: #878c8d;
	text-decoration: none;
}

h1 a,
h2 a,
h3 a
{
	text-decoration: none;
}


		
#map_canvas
{
	height: 100%;
	overflow: hidden;
}



input.format_permalink
{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.box
{
	margin: 0 0 20px 0;
}

.box h2
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	background: #f8a331;
	color: #fff;
	padding: 5px 10px;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}

.box p
{
	margin: 0 0 .75em 0;
}

.box .box_item
{
	display: block;
/* 	padding: 10px;*/
	background-color: #fff;
/* 	margin-top: 2px; */
	border-bottom: 2px dotted #e7e7e7;
	font-size: 12px;
	line-height: 15px;	
}

.box .box_item input
{
	width: 100%;
}

.box_presscontact,
.box_ecchorightsnews
{
	width: 220px;
	background-color: #fff;	
	padding: 0 0 6px 0;
	position: absolute;
	right: 20px;
	top:122px;
}
.box_ecchorightsnews {
	/* Vertical positioning of box. This is soo ugly. Whole sidebar column should be reworked as floating/inline-block col. */
	top: 300px;
}

.box_presscontact p,
.box_ecchorightsnews p
{
/* 	padding: 0 10px; */
}

.box_presscontact img,
.box_ecchorightsnews img
{
	vertical-align: top;
}

.pubdate
{
	display: block;
	margin: 0 0 1em 0;
	color: #878C8D;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: bold;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	FORMAT LIST PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.formatlist
{
	margin: 5px -5px 0 -5px;
	padding: 0;
	list-style: none;
	clear: both;
}

.formatlist li
{
	width: 215px;
	float: left;
	padding: 0px;
	position: relative;
	height: 270px;
	overflow: hidden;
	margin: 5px;
	/*background: #fff; /* SWITCH */
	/*cursor: pointer;*/
}

.formatlist a
{
	text-decoration:none;
}

.formatlist li h3
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	margin: 10px 10px 2px 0px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
}

.formatlist li h3 a
{
	color: #F8A331;
	/*color: #72d7f4; /* SWITCH */
}

.formatlist p
{
	font-size: 12px;
	line-height: 15px;
	margin: 7px 0 10px 0px;
	color: #878C8D;
}

.formatlist p.meta_author
{
	margin: 0 10px 0px 0px;
	text-transform: uppercase;
	color: #878C8D;
	font-weight: bold;
}

/* List view */

.formatlist .list
{
	margin: 0;
}

.formatlist .list li
{
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 5px 0px	
}

.formatlist .list li h3,
.formatlist .list li p
{
	margin: 10px 0 0 110px;
}

.formatlist .list li p
{
	margin-top: 5px;
}

.formatlist .overlay
{
	display: none;
}

.formatlist li.active .overlay
{
	display: block;
	position: absolute;
	width: 207px;
	height: 162px;
	top:0;
	left: 0;
	background: url(../_img/slideshow_format_overlay.png) right top no-repeat transparent;
	
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	FEATURED FORMATS */
/*-------------------------------------------------------------------------------------------------------------------*/

.featured_formats_container
{
	height: 285px;
	max-width: 890px;
	margin: 0 -20px 0 -20px;
	background: #f9a730;
	padding: 20px;
	position: relative;
}

.featured_formats_container h1
{
	color: #fff;
	margin: 10px 0;
	font-size: 36px;
	line-height: 36px;
	width: 300px;
	padding: 0;
	border-bottom:none;
}

.featured_formats_container .player_container
{
	width:590px;
	height: 315px;
	background: url(../_img/featuredformats_videoplaceholder.png) no-repeat 0 0;
	position: absolute;
	bottom: -20px;
	right: 20px;
}

.featured_formats_container > p 
{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	width: 285px;
	color: #fff;
	margin: 20px 0 30px 0;
}

.featured_formats_title 
{
	font-family: "din-condensed-web", arial, sans-serif;
	font-size: 26px;
	line-height: 26px;
	color: #4A4C55;		
	margin: 17px 0px 12px 0px;
	padding: 0 0px 14px;
	text-transform: uppercase;	
	font-weight: normal;
	border-bottom: 2px dotted #E8E8E8;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*	FORMAT SINGLE PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.format_container .format_thumbnail
{
	display: none;
}

.format_container .format_title
{
	padding-bottom:0;
	border-bottom: none;
	margin-bottom:0;
}

.format_container .format_rightsholder
{
	display: block;
	clear: both;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0px 20px;
	padding: 0 0px 20px;
	border-bottom: 2px dotted #E8E8E8;
	color: #878C8D;
}

.format_container .format_rightsholder a {text-decoration: none; color: #878C8D;}

.format_container .format_video_container
{
	float: left;
	width: 640px;
	margin: 0 0 40px 0;
}

.format_container .format_description
{
	padding: 40px 0px 0;
}

.format_container .format_description_title
{
	font-family: "din-condensed-web", arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 10px;

}

.format_description p
{
	margin: 0;
}

.format_description p:not(:first-of-type)
{
	text-indent: 1em;
}

.format_container .box
{
	float: right;
	width: 240px;
}

.more_formats
{
	border-top: 2px dotted #E8E8E8;
	clear: both;
}
.more_formats h2
{
    color: #4A4C55;
    font-family: "din-condensed-web", arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;
    margin: 17px 0 0;
    padding: 0 0 8px;
    text-transform: uppercase;
}




/*-------------------------------------------------------------------------------------------------------------------*/
/*	NEWS PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.news_entry
{
	margin: 0 260px 40px 0;
}

.news_entry h2
{
	margin: 0 0 0.2em;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 5px 0 0;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*	CLIENT OFFER PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.client-offer-heading {
	padding-left: 20%;
}

.client-offer-letter
{
	margin: 40px 20%;
	font-size: 15px;
	line-height: 20px;
	color: #4A4C55;
}

/*.news_entry h2
{
	margin: 0 0 0.2em;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 5px 0 0;
}*/


/*-------------------------------------------------------------------------------------------------------------------*/
/*	SPARKS ECCHO GROUP PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.sparksecchogroup-heading {
	padding-left: 20%;
}

.sparksecchogroup-content
{
	margin: 40px 20%;
	font-size: 15px;
	line-height: 20px;
	color: #4A4C55;
}

/*.news_entry h2
{
	margin: 0 0 0.2em;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 5px 0 0;
}*/

.sparksecchogroup-content .logoblock p
{
	padding-left: 200px;
}

.sparksecchogroup-content .logoblock img {
	float: left;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	RESEARCH PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.research_format 
{
	margin-bottom: 40px;
}

.research_format a.document 
{
	padding-left: 20px !important;
	background-position: 0 50%;
	margin-right: 20px;
}

.research_format h2 
{
	margin: 0 0 0.2em;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 5px 0 0;	
}

.research_format p {
	margin:10px 0;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	NETWORK MEETINGS PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.networkmeetings_item
{
	margin-bottom: 40px;
}

.networkmeetings_item h2
{
	margin: 0 0 0.2em;
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	padding: 5px 0 0;	
}

.networkmeetings_item h3
{
	font-size: 12px;
	line-height: 15px;
	margin: 0px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;	
}

.networkmeetings_item p
{
	margin:10px 0;
}

.networkmeetings_item .listgroup-item p 
{
	margin: 0 0 10px;
}

.networkmeetings_item .listgroup-item

.networkmeetings_speakerlist li img {
	float: left;
}
.networkmeetings_speakerlist p,
.networkmeetings_speakerlist ul,
.networkmeetings_speakerlist h3 
{
	padding-left: 120px;
}



.networkmeetings_item .listgroup-item .collapsible_content ul li
{
	margin-bottom:10px;
}

.networkmeetings_item .listgroup-item .collapsible_content ul.networkmeetings_speakerlist > li {
	margin-bottom:30px;
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	ABOUT PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.about_container.main_content_container
{
	background-color: #000;
	color: #ccc; /* SWITCH */
	padding-bottom: 0;
	font-size: 13px;
	line-height: 17px;
}

.about_container .about
{
	/*margin-bottom: 20px; /* SWITCH */
}

.about_container .about h1
{
	color: #fff;
	border-bottom: none;
}

.col
{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
}

.col p
{
	text-indent: 1em;
	margin: 0;
}

.col p:first-of-type,
.col p:nth-of-type(3)
{
	text-indent: 0;
}

.col p:nth-last-child(3)
{
	/*-webkit-column-break-after: always; /* SWITHC */
	/*-moz-column-break-after: always;	 /* SWITHC */
	/* 	margin-top: 200px; */
}

.col p.quote
{
	margin-top: 17px; /* SWITCH */
	text-indent: 0;
}

.about_container .contact
{
	padding: 0;
	margin: 0 -20px 0 -20px;	
	background: #fff;
	color: #878C8D;
	/*border-top: 2px dotted #e7e7e7; /* SWITHC */
}

.about_container .contact ul
{
	padding: 20px;
	margin-left: 2%;
	margin-right: 6%;
}

.about_container .contact ul li
{
	float:left;
	width: 20%;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
}

.about_container .contact ul li span
{
	display: block;
}

.company_contact
{
	width: 35%;
	margin-top:40px;
	margin-bottom:40px;
	margin-left:15%;
	float: left;
}
.company_contact span,
.company_contact h3
{
	display: block;
	margin-left: 120px;
}
.company_contact .map {
	float: left;
}

.company_contact_asia
{
	margin-left:0;
	/*margin-right:25%;	*/
}


/*-------------------------------------------------------------------------------------------------------------------*/
/*	FORMAT VIDEO CONTAINER */
/*-------------------------------------------------------------------------------------------------------------------*/

.format_video_container iframe {vertical-align: bottom;}

.format_video_container .format_video_nav
{
 overflow: hidden;
 width: 
}

.format_video_container .format_video_nav li
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 16px;
	float: left;
	padding: 10px;
	background: #e8e8e8;
	border-left: 2px dotted #fff;
}
.format_video_container .format_video_nav li:first-child {border-left: none;}

.format_video_nav li.active
{
	background: #f8a331;

}

.format_video_nav li.active a { color: #fff; }




/*-------------------------------------------------------------------------------------------------------------------*/
/*	MEMBERS */
/*-------------------------------------------------------------------------------------------------------------------*/

.member-list-col
{
    float: left;
	width: 430px;    
}

.memberlist
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.memberlist li
{
/* 	float: left; */
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin: 5px 5px 15px;
}

.memberlist li img
{
	float: left;
}

.memberlist h3
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
	margin: 0px 10px 2px 0px;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
}

.memberlist h3 a { color: #F8A331; }
.memberlist h3 a span { color: #878C8D; }

.memberlist p
{
	font-size: 12px;
	line-height: 15px;
	margin: 7px 0 10px 0px;
	color: #878C8D;
}

.memberlist h3,
.memberlist p
{
	margin-left: 120px;
}

.member_list
{
	font-family: "din-condensed-web", arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 22px;
}

.member_page_container > p
{
	width: 430px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin: 5px 0 15px;
}

.member_page_container .member_logo
{
	float: right;
}

.member_formats_container
{
	margin: 0 -0px 0 -0px;
	padding: 0 0px 20px;
	border-top: 2px dotted #E8E8E8;
	clear:both;
}

.member_formats_container ul 
{
	overflow: hidden;
}

.member_formats_title 
{
	font-family: "din-condensed-web", arial, sans-serif;
	font-size: 26px;
	line-height: 26px;
	color: #4A4C55;		
	margin: 17px 0px 0 0px;
	padding: 0 0px 8px;
	text-transform: uppercase;	
	font-weight: normal;
}

.contact_general,
.contact_members
{
	font-size: 13px;
	line-height: 18px;
	color: #878C8D;	
}

.contact_members
{
	/*margin: 0 -0px 0 -0px;*/
	padding: 0 0px 20px;
	border-top: 2px dotted #E8E8E8;
}

.contact_general ul.contact_general_list
{
	display: table;
	margin: 6px 0 20px 0;
}
.contact_general ul.contact_general_list li
{
	display: table-row;
}

.contact_general ul.contact_general_list strong,
.contact_general ul.contact_general_list span
{
	display: table-cell;
}
.contact_general ul.contact_general_list strong 
{
	width:80px;
}

ul.contact_members_list
{
	width:100%;
	overflow: hidden;
}

ul.contact_members_list li
{
	width:50%;
	float: left;
	/*background-color: #ccc;*/
	margin: 10px 0 5px 0;
}

ul.contact_members_list div
{
	margin: 0 0 0 80px;
}

ul.contact_members_list img
{
	float: left;
}

ul.contact_members_list span.name
{
	font-weight:bold;
}

.contact_members_title
{
	font-family: "din-condensed-web", arial, sans-serif;
	font-size: 26px;
	line-height: 26px;
	color: #4A4C55;		
	margin: 17px 0px 0 0px;
	padding: 0 0px 8px;
	text-transform: uppercase;	
	font-weight: normal;
}



/*-------------------------------------------------------------------------------------------------------------------*/
/*	MY OPTIONS LIST PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/

.myoptions_container ul
{
	margin: 0 0 20px;
}

.myoptions_container ul li
{
	float: left;
	width:100%;
	font-family: "din-condensed-web", arial, sans-serif;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
}

.myoptions_container ul li a
{
	color: #F8A331;
	text-decoration: none;
}




/*-------------------------------------------------------------------------------------------------------------------*/
/*	MY OPTIONS SINGLE PAGE */
/*-------------------------------------------------------------------------------------------------------------------*/


#options_taken_container,
#options_given_container,
#options_expired_container
{
	margin: 0 0 20px;
}

#options_taken_container h3,
#options_given_container h3,
#options_expired_container h3
{
font-family: "din-condensed-web", arial, sans-serif;
text-transform: uppercase;
font-size: 20px;
line-height: 20px;
font-weight: normal;
white-space: nowrap;
}

.select_option_rightsholder
{
	float:right;
	margin: 50px 0 0 0;
}




/*-------------------------------------------------------------------------------------------------------------------*/
/*	TABLES FOR FORMAT OPTIONS */
/*-------------------------------------------------------------------------------------------------------------------*/

#options_taken_container table,
#options_given_container table,
#options_expired_container table
{
	margin: 10px 0 0;
	width:100%;
	border-collapse:collapse;
	font-size:12px;
	line-height: 15px;
	border-bottom:3px solid #ddd;
}

#options_taken_container table th,
#options_given_container table th,
#options_expired_container table th
{
	background: #E8E8E8;
	text-align:left;
	padding: 6px 6px 4px;
}

#options_taken_container table th:first-child,
#options_given_container table th:first-child,
#options_expired_container table th:first-child
{
	width:75%;
}

#options_taken_container table td,
#options_given_container table td,
#options_expired_container table td
{
	padding: 6px 6px 4px;
	/*border-top:1px solid #ccc;*/
	/*border-bottom:1px solid #ccc;	*/
}

#options_taken_container table tbody tr:first-child td,
#options_given_container table tbody tr:first-child td,
#options_expired_container table tbody tr:first-child td
{
	border-top:3px solid #ddd;
	color: #F8A331;
	text-transform:	uppercase;
	font-weight: bold;
}

#options_taken_container table tr.description td,
#options_given_container table tr.description td,
#options_expired_container table tr.description td
{
	padding-top:0;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*	LISTGROUP */
/*-------------------------------------------------------------------------------------------------------------------*/

.listgroup 
{

}

.listgroup .listgroup-item {
	border-color: #ccc;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding:5px 10px;
}
.listgroup li.listgroup-item:first-child 
{
	border-top-width:1px;
}

.listgroup li.listgroup-item:nth-child(1) 
{
	border-radius: 4px 4px 0 0;
}
.listgroup li.listgroup-item:last-child 
{
	border-radius: 0 0 4px 4px;
}

.listgroup li.listgroup-item a.toggle_link {
	text-decoration: none;
}

.listgroup li.listgroup-item a.toggle_link.open {
	color: #000;
	font-weight: bold;
}

.listgroup h3 {
	font-size: 
}

.collapsible_content {
	display: none;
	padding: 10px 0 0 0;
}

/* EOF */